.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2rem;
    border-top-right-radius: 9rem;
    border-bottom-right-radius: 0;
    background-color: red;
    position: relative;
    right: 1rem;
    border: none;
  }
  .searchbar-conteiner img{
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
  }
  